$colorBlack: #111;
$colorWhite: #fff;

$fsizeSmallest: .8rem;
$fsizeSmall: 1rem;
$fsizeMediumSmall: 1.2rem;
$fsizeMedium: 1.4rem;
$fsizeBigMedium: 1.6rem;
$fsizeSmallBig: 1.8rem;
$fsizeBig: 2rem;
$fsizeVeryBig: 2.4rem;
$fsizeBiggest: 2.8rem;
$fsizeExtrimal: 3.8rem;
