@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'), url('fonts/BebasNeue.woff') format('woff');
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: local('Bebas Neue Regular'), url('fonts/BebasNeueRegular.woff') format('woff');
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: local('Bebas Neue Bold'), url('fonts/BebasNeueBold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: local('Open Sans Regular'), url('fonts/OpenSansRegular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'), url('fonts/OpenSansBold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: local('Open Sans Light Italic'), url('fonts/OpenSansLightItalic.woff') format('woff');
}
