.square {
    position: absolute;
    left: 0;
    top: 0;

    border: 1px solid black;
    will-change: transform;

    &__vertex {
        position: absolute;
        left: 0;
        top: 0;

        background: red;

        will-change: transform;
    }
}