<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Square War</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="There will be only one">
    <meta name="author" content="E.Kirilov">
    <meta name="keywords" content="Square, War">
  </head>
  <body>
  </body>
</html>
